/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "bootstrap";
 
 $black: rgb(0,0,0);
$black_40: rgba(0,0,0,0.4);
$color_romance_approx: #fefefe;
$color_suva_gray_approx: #888;
$color_silver_chalice_approx: #aaa;

//@extend-elements
//original selectors
//.add_event_form-close:hover, .add_event_form-close:focus
%extend_1 {
	color: $black;
	text-decoration: none;
	cursor: pointer;
}

html, body{
	height:100%;
}

.dashboard_header {
	float: left;
	width: 50%;
	color:$light;
	min-height: 50px;
	background-color:$black;
	line-height: 50px;
}

.add_event_label {
	display: inline-block;
	width: 150px;
	vertical-align:top;
}

.add_event_tags {
	display: inline-block;
	width: 150px;
}

.nav_bar {
	display:block;
	float: left;
	position: relative;
	max-width: 200px;
	min-width: 200px;
	background: $light;
	height: 92.3vh;
	color:$dark;
	word-wrap:break-word;
}

.yield {
	display:block;
	float: left;
	position: relative;
	height: 92.3vh;
	max-width: 1149px;
	min-width: 1149px;
	overflow-y:auto;
}
.nav_bar a{
	color:$dark; 
}

.dashboard_header a{ 
	color:$light; 
}
#log_in_form{
	
}

.add_event_form-div {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: $black;
	background-color: $black_40;
}
.add_event_form-content {
	background-color: $color_romance_approx;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid $color_suva_gray_approx;
	width: 50%;
}
.add_event_form-close {
	color: $color_silver_chalice_approx;
	float: right;
	font-size: 28px;
	font-weight: bold;
	&:hover {
		@extend %extend_1;
	}
	&:focus {
		@extend %extend_1;
	}
}

.add_event_tag-remove {
	color: $color_silver_chalice_approx;
	font-size: 20px;
	font-weight: bold;
	&:hover {
		@extend %extend_1;
	}
	&:focus {
		@extend %extend_1;
	}
}
.add_event_tag-element {
	display:inline-block;
	border: 1px solid $color_suva_gray_approx;
	&:hover {
		@extend %extend_1;
	}
	&:focus {
		@extend %extend_1;
	}
}

.calendar_month {
	min-width:95px;
	vertical-align:top;
}


.calendar_month_cell_header{
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
}
.calendar_month_cell_header a{
	color: #222;
	font-size: 16px;
	font-weight: 600;
	text-decoration: underline;
    cursor: pointer;
}

.calendar_month_cell_header div:hover{
	background-color: $color_suva_gray_approx;
    text-decoration: none;
	cursor: pointer;
}

.calendar_view{
	color: #fff;
	border-radius: 5px;
	box-shadow: 0px 2px 6px rgba(2,2,2,0.2);
}

.calendar_view table{
	background-color: $dark;
}

.events_today_table{
	color: #fff;
	background-color: $dark;
}

.calendar_month_cell_empty{
	border-left:1px solid black;
	border-right:1px solid black;
}

.radius_left{
	border-top-left-radius:	  20px;
	border-bottom-left-radius:20px;
}
.radius_right{
	border-top-right-radius:   20px;
	border-bottom-right-radius:20px;
}
.radius_both{
	border-top-left-radius:    20px;
	border-top-right-radius:   20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius: 20px;
}

.log_in_home_page{
	line-height: 2;
	background-color:$black;
	color:$light;
	min-height: 40px;
}

#sign_up_home_page{
	
	text-align: right;
	width: 400px;
    border: 5px solid $black_40;
    padding: 30px;
	margin-top: 20px;
	margin-left: 20px;
	background: $light;
}
button{
	background-color: $dark;
	color:$light;
}
input{
	background-color: $black_40;
	color:$light;
}
select{
	background-color: $black_40;
	color:$light;
}
.add_event_tag-element{
	background-color: white;
	
}
