:javascript
  $(document).ready( function() {
    var list = "#{@search_list}";
    $('#search_list').load('/addSearchList/'+list);
  } );

- #this div below is for events today
%div
  %h5 Today
  %div
    - if @events_today.length > 0
      = render "events_today"
    - else
      %br
      %text "No Events for today!"
%hr{:style => "width:98%;", :align =>"center"}
- #this is for search
%div{:id => 'calendar'}
  %div{:id =>'c_view'}
%div{:id => 'searched_schedules'}

%div#add_event_form_div.add_event_form-div
  %div.add_event_form-content
    %span.add_event_form-close{:onclick => "hideAddEventForm()"} ×
    %br
    = render "add_event_form"
%div#edit_event_form_div_div.add_event_form-div
  %div.add_event_form-content
    %span.add_event_form-close{:onclick => "hideEditEventForm()"} ×
    %div#edit_event_form_div

%div#create_group_div.add_event_form-div
  %div.add_event_form-content
    %span.add_event_form-close{:onclick => "hideCreateGroupForm()"} ×
    %br
    = render "create_group_form"