%link{:href => "http://fonts.googleapis.com/css?family=Arvo", :rel => "stylesheet", :type => "text/css"}/	
%div{:id => 'calendar'}
  %div{:id =>'c_view'}
  
:javascript
  $(document).ready( function() {
    var day = new Date();
    day = day.getMonth()+1 + "-" + day.getDate() + "-" + day.getFullYear();
    $('#c_view').load('/load_calendar/month/'+day+'/#{@account.id}');
  } );
  

-# %div
  -# %table
    -# %thead
      -# %tr
        -# %th Title
        -# %th Start
        -# %th End
        -# %th Description
        -# %th Tags
    -# %tbody
    -# @all_events.each do |event|
      -# %tr
        -# %td
          -#  event.title
        -# %td
          -#  event.start
        -# %td
          -#  event.end
        -# %td
          -#  event.description
        -# %td
          -# event.tags.each do |id, name|
            -#  link_to "#{name}", showProfile_path(id)